.DS_Store
paleta_color.json
Generadorapp.xlsx
Model APP Factura.png
Model APP Esquema.png
Model APP Pressupost.png
Model Factura APP.docx
Model Pressupost APP.docx
Registro_app.py
github.txt
Añadir_datos_ventana.py
proves.py
Documentación
guarda_codi.txt
